<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>循环遍历List集合</title>
</head>
<body>

<div th:each="user,userStat:${userList}">
    <span th:text="${userStat.count}"></span>
    <span th:text="${userStat.first}"></span>
    <span th:text="${user.id}"></span>
    <span th:text="${user.username}"></span>
    <span th:text="${user.phone}"></span>
    <span th:text="${user.address}"></span>
</div>

<br/><br/>
<div th:each="user:${userList}">
    <span th:text="${userStat.index}"></span>
    <span th:text="${userStat.first}"></span>
    <span th:text="${user.id}"></span>
    <span th:text="${user.username}"></span>
    <span th:text="${user.phone}"></span>
    <span th:text="${user.address}"></span>
</div>

</body>
</html>